.row {
  height: 1200px;
}

.column {
    padding-top: 10px;
    float: left;
    width: 50%;
    height: 100px;
    background-color:white;

  }
  .column3 {
    padding-top: 10px;
    float: left;
    width: 40%;
    height: 100px;
    background-color:white;
  }

  #menu{
      padding-top: 10px;
      padding-left: 45%;
      color: cadetblue;
      font-family: 'Tako', serif;
  }
  h3{
      color: black;
      font-family: 'Teko', serif;
      font-size: 180%;
  }
  h4{
      color: black ;
      font-family: 'Tako', serif;
      font-size: 120%;

  }
  #order{
      width: 70px;
      height: 32px;
      background-color: cadetblue;
      color:white;
      border-radius: 7%;
      border-block-start-color: cadetblue;
  }
  #save{
    width: 70px;
    height: 32px;
    background-color: cadetblue;
    color:white;
    border-radius: 7%;
    border-block-start-color: cadetblue;
    margin-left: 5px;
  }
  #save:hover{
    background-color: rgb(72, 132, 134);
  }
  #order:hover{
      background-color: rgb(72, 132, 134);
  }
  #input{
      padding-left: 10px;
      width:200px;
      height: 30px;
      border-radius: 7%;
  }
  #input2{
    width:80px;
    height: 30px;
    border-radius: 7%;
    padding-left: 10px;
    margin-left: 5px;
}
  #inputs{
      padding-left: 0%;
  }
  .dishes{
      margin-top: 20px;
      margin-bottom: 5cm;
      margin-left: 200px;
  }
