<div class="row">
  <h1 id="menu">Menu</h1>
  <div class="dishes" *ngFor="let dish of dishes">
    <div>
      <div class="column" id="column1">
        <h3>{{dish.name}}</h3>
        <h4>Price: {{dish.price}}</h4>
      </div>
      <div *ngIf="isLogged">
        <button  id="order" (click)="postOrder(dish)">Order</button>
      </div>

      <div  class="column3" id="inputs" *ngIf="isAdmin">
        <input id="input" type="text" [(ngModel)]="dish.name">
        <input  id="input2"type="text" [(ngModel)]="dish.price">
         </div>

    </div>
  </div>
</div>
