/* HeroDetailComponent's private CSS styles */
body{
  height: 1500px;
  background-image: url("/assets/n.jpg");
}
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: rgb(109, 183, 189);
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    margin-left: 20px;
  }
  #head2 {
    font-family: 'Teko', serif;
    text-align: center;
    margin-top: 7px;
    font-size: 32px;
  }
  button {
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial;
    background-color: rgb(109, 183, 189);
    border: none;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .img{
    float: right;
    margin-top: -50px;
    margin-right: 50px;
  }
  .menu {
    
    width: 85px;
    height: 40px;
    font-size: 25px;
    float: right;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: -50px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 7px;
  }
  .reviews {
    height: 750px;
    max-height: 2000px;
    width: 680px;
    margin-bottom: 3cm;
    position: relative;
    color: white;
    border-radius: 4%;
    float: left;
    
  }
  #write {
    width: 85%;
    height: 12%;
    font-size: 16px;
    margin-top: 100px;
    margin-left: 10px;
  }
  h4,p{
    font-size: large;
    color: white;
  }
  h2{
    Color: rgb(109, 183, 189);
  }