/* AppComponent's private CSS styles */
h1 {
    font-size: 5.2em;
    margin-bottom: 0;
    text-align: center;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 100px;
    height: 100%;
    padding: 0px 660px 0px 660px;
    font-size: 30px;
    margin-top: -9px;
    cursor: pointer;
    float: none;
    background-color: black;
    color: white;
    text-decoration: none;
  }
